node_modules
npm-debug.log*
.git
.githooks
.gitignore
.env
.env.*
!.env.example
uploads
src/generated
coverage
*.md
postman
.vitest
vitest.config.mts
**/*.test.ts
**/__tests__
.dockerignore
Dockerfile
docker-compose.yml
pnpm-lock.yaml
pnpm-workspace.yaml
